@import '@fortawesome/fontawesome-free/css/all.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

$primary-color: #0996a5;
$primary-color-light: lighten($primary-color, 10);
$primary-color-extra-light: lighten($primary-color, 15);

$primary-color-dark: darken($primary-color, 5);
$primary-color-extra-dark: darken($primary-color, 10);

.app-root {
  height: 100%;
  font-family: sans-serif;

  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light};
  --primary-color-extra-light: #{$primary-color-extra-light};

  --primary-color-dark: #{$primary-color-dark};
  --primary-color-extra-dark: #{$primary-color-extra-dark};

  $panel-base: #CBCBCB;

  --panel-background: #{$panel-base};
  --panel-background-dark: #{darken($panel-base, 10)};
  --panel-background-extra-dark: #{darken($panel-base, 15)};

  --page-bg: #DFDFDF;
  --font-color: black;

  &.dark {
    --page-bg: #282828;
    --font-color: white;

    $panel-base: #777;

    --panel-background: #{$panel-base};
    --panel-background-dark: #{darken($panel-base, 10)};
    --panel-background-extra-dark: #{darken($panel-base, 15)};
  }
}

.page-wrap {
  height: 100%;
  padding: 10px;
  background: var(--page-bg, orange);
  color: var(--font-color);
  box-sizing: border-box;
}

.light-dark-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
}
