@import '@fortawesome/fontawesome-free/css/all.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

$primary-color: #078390;
$primary-color-light: lighten($primary-color, 10);
$primary-color-extra-light: lighten($primary-color, 15);

.app-root {
  height: 100%;
  font-family: sans-serif;

  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light};
  --primary-color-extra-light: #{$primary-color-extra-light};

  --page-bg: #DFDFDF;

  &.dark {
    --page-bg: #282828;
  }
}

.page-wrap {
  height: 100%;
  padding: 10px;
  background: var(--page-bg, orange);
}
